<script setup lang="ts">
import { CaretDownOutlined } from "@ant-design/icons-vue";
import { ref } from "vue";

const props = defineProps({
  name: String,
  carBrand: {
    type: [],
  },
  model: [],
  year: [],
  subVersion: [],
});

const name = ref("");
const onClickStatus = (data: any) => {
  name.value = data;
};
</script>

<template>
  <div>
    <a-dropdown
      :trigger="['click']"
      placement="bottom"
      class="rounded"
    >
      <a-button class="w-100 button-bg" size="large">
        {{ name ? name : props.name }}
        <CaretDownOutlined />
      </a-button>
      <template #overlay>
        <a-menu>
          <a-menu-item
            v-if="props.name === 'เลือกยี่ห้อรถ'"
            v-for="(item, k) in carBrand"
            :key="k"
            @click="onClickStatus(item)"
          >
            {{ item }}
          </a-menu-item>
          <a-menu-item
            v-if="props.name === 'เลือกรุ่นรถ'"
            v-for="(item, k) in model"
            :key="k"
            @click="onClickStatus(item)"
          >
            {{ item }}
          </a-menu-item>
          <a-menu-item
            v-if="props.name === 'เลือกปีจดทะเบียน'"
            v-for="(item, k) in year"
            :key="k"
            @click="onClickStatus(item)"
          >
            {{ item }}
          </a-menu-item>
          <a-menu-item
            v-if="props.name === 'เลือกรุ่นย่อย'"
            v-for="(item, k) in subVersion"
            :key="k"
            @click="onClickStatus(item)"
          >
            {{ item }}
          </a-menu-item>
        </a-menu>
      </template>
    </a-dropdown>
  </div>
</template>

<style>
.button-bg.ant-btn {
  background: yellow;
  border: yellow;
  border-bottom: 3px solid silver;
}
.button-bg.ant-btn:hover {
  background: red;
  border: red;
  color: #ffffff;
  border-bottom: 3px solid silver;
}
.button-bg.ant-btn:focus {
  background: red;
  border: red;
  color: #ffffff;
  border-bottom: 3px solid silver;
}
</style>
