<script setup lang="ts">
</script>
<template>
  <div class="p-4 mt-5 d-flex align-items-center justify-content-center" style="background-color: #f4f5f5;height: 400px;">
    <h1>Footer</h1>
  </div>
</template>