<script setup lang="ts">
import { ref } from 'vue';
const value = ref<string>('a');
</script>
<template>
  <div class="py-4 border-buttom">
    <div class="d-flex justify-content-around">
      <div class="d-flex align-items-center">
        <a-radio-group v-model:value="value" class="custom-radio">
        <a-radio-button value="a">ENG</a-radio-button>
        <a-radio-button value="b">ไทย</a-radio-button>
      </a-radio-group>
      </div>
      <div>
        <img src="https://secure.directasia.co.th/assets/image/directasia-ins-th.png" alt="directasia" style="height: 80px;">
      </div>
      <div>
        <p>ใบอนุญาตนายหน้าประกันวินาศภัย ว00004/2556</p>
        <div class="text-end">ติดต่อเราได้ที่ <span style="color: red;">02-767-7777</span></div>
      </div>
    </div>
  </div>
</template>

<style>
.border-buttom{
  border-bottom:6px solid #ffe401 ;
}
.custom-radio .ant-radio-button-wrapper{
  border: 0;
  color: #CC1A21;
}
.custom-radio .ant-radio-button-wrapper:first-child {
    border-right: 1px solid  #40a9ff;
    border-left: 0;
}

</style>