<script setup lang="ts">
import { reactive, ref, watch } from "vue";
import AppSelect from "../app/AppSelect.vue";
import ContactCard from "../ContactCard/ContactCard.vue";
import { CaretLeftOutlined } from "@ant-design/icons-vue";
import { province_th } from "../../helpers/province";
import dayjs from 'dayjs'
const value = ref("a");
const radioValue = reactive({
  value1: "",
  value2: "ส่วนตัว",
  value3: "",
  sex:'',
  marital:'',
  driving:''
});

const refCard = ref<HTMLDivElement | null>(null);
const refCardDown = ref<HTMLDivElement | null>(null);
const refCamera = ref<HTMLDivElement | null>(null);
const refObjective = ref<HTMLDivElement | null>(null);
const props = defineProps({
  isCheckCard: String,
  isFooter: Boolean,
});
const emits = defineEmits(["changeCard", "changeCardDown", "changeFooter"]);

watch(refCard, (v) => {
  if (v) {
    emits("changeCard", v?.offsetTop);
  }
});

const carBrand = [
  'toyota',
  'honda',
  'nisan'
]

const model = [
  'ativ',
  'city',
  'navara'
]

const subVersion = [
  'hrv',
  'sv',
  'sp'
]

const month = [
'ม.ค.',
'ก.พ.',
'มี.ค.',
'เม.ย.',
'พ.ค.',
'มิ.ย.',
'ก.ค.',
'ส.ค.',
'ก.ย.',
'ต.ค.',
'พ.ย.',
'ธ.ค.'
]

const day =  dayjs().daysInMonth()
const daysOfYear = [];
for (let d = 1; d < Number(day) + 1 ;d++) {
    daysOfYear.push(d);
}

const startYear = new Date().getFullYear();
const year = []
for (let i = startYear; i > startYear - 15; i--) {
 year.push(i)
}


watch(refCardDown, (v) => {
  if (v) {
    emits("changeCardDown", v?.offsetTop, "CAR_MODAL");
  }
});

watch(refCamera, (v) => {
  if (v) {
    emits("changeCardDown", v?.offsetTop, "CAMERA");
  }
});

watch(refObjective, (v) => {
  if (v) {
    emits("changeCardDown", v?.offsetTop, "OBJECTIVE");
  }
});

const refFooter = ref()
watch(refFooter,(v)=>{
  if(v){
    emits("changeFooter", v?.offsetTop);
  }
})
</script>
<template>
  <div>
    <div class="row">
      <div class="col-6">
        <!-- <div class="d-flex justify-content-center pt-5">
          <a-radio-group v-model:value="value">
            <a-radio-button value="a">ดอกเบี้ย</a-radio-button>
            <a-radio-button value="b">กรอกข้อมูล</a-radio-button>
            <a-radio-button value="c">ตรวจสอบ</a-radio-button>
          </a-radio-group>
        </div> -->
        <div class="d-flex justify-content-center pt-5">
          <div class="card" style="width: 540px">
            <div class="card-header" style="background-color: #f2f2f2">
              <h5>รายละเอียดรถยนต์</h5>
            </div>
            <div class="card-body" ref="refCard">
              <form>
                <div class="mb-3">
                  <label class="form-label">ยี่ห้อรถ</label>
                  <AppSelect name="เลือกยี่ห้อรถ" :carBrand="carBrand" />
                </div>
                <div class="mb-3">
                  <label class="form-label">รุ่นรถ</label>
                  <AppSelect name="เลือกรุ่นรถ" :model="model" />
                </div>
                <div class="mb-3">
                  <label class="form-label">ปีจดทะเบียน</label>
                  <AppSelect name="เลือกปีจดทะเบียน" :year="year" />
                </div>
                <div class="mb-3" ref="refCardDown">
                  <label class="form-label">รุ่นย่อย</label>
                  <AppSelect name="เลือกรุ่นย่อย" :subVersion="subVersion" />
                </div>
                <div ref="refCamera">
                  <label class="form-label">คุณมีกล้องติดรถยนต์หรือไม่?</label>
                  <div class="pb-4">
                    <a-radio-group
                      v-model:value="radioValue.value1"
                      class="d-flex d-grid gap-3 custom-radio-contend"
                      size="large"
                    >
                      <a-radio-button
                        class="rounded button-bg-select"
                        style="width: 250px"
                        value="มีกล้อง"
                        >มีกล้อง</a-radio-button
                      >
                      <a-radio-button
                        class="rounded button-bg-select"
                        style="width: 250px"
                        value="ไม่มีกล้อง"
                        >ไม่มีกล้อง</a-radio-button
                      >
                    </a-radio-group>
                  </div>
                </div>
                <div ref="refObjective">
                  <label class="form-label"
                    >คุณใช้รถเพื่อจุดประสงค์ใดมากที่สุด?</label
                  >
                  <div class="pb-4">
                    <a-radio-group
                      v-model:value="radioValue.value2"
                      class="d-flex d-grid gap-3 rounded custom-radio-contend"
                      size="large"
                    >
                      <a-radio-button
                        class="rounded button-bg-select"
                        style="width: 250px"
                        value="ส่วนตัว"
                        >ส่วนตัว</a-radio-button
                      >
                      <a-radio-button
                        class="rounded button-bg-select"
                        style="width: 250px"
                        value="ไป-กลับที่ทำงาน"
                        >ไป-กลับที่ทำงาน</a-radio-button
                      >
                    </a-radio-group>
                  </div>
                  <div class="pb-4">
                    <a-radio-group
                      v-model:value="radioValue.value3"
                      class="d-flex d-grid gap-3 rounded custom-radio-contend"
                      size="large"
                    >
                      <a-radio-button
                        class="rounded button-bg-select"
                        style="width: 250px"
                        value="ใช้เพื่อทำงาน"
                        >ใช้เพื่อทำงาน</a-radio-button
                      >
                      <a-radio-button
                        class="rounded button-bg-select"
                        style="width: 250px"
                        value="ใช้เพื่อการพาณิชย์"
                        >ใช้เพื่อการพาณิชย์</a-radio-button
                      >
                    </a-radio-group>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center pt-3">
          <div class="card" style="width: 540px">
            <div class="card-header" style="background-color: #f2f2f2">
              <h5>วันที่เริ่มความคุ้มครอง</h5>
            </div>
            <div class="card-body">
              <div class="mb-3">
                <label class="form-label">วันเริ่มความคุ้มครอง</label>
                <div class="d-flex justify-content-between">
                  <a-select class="rounded custom-select-boder" placeholder="วันที่" style="width: 120px">
                    <a-select-option v-for="(item, k) in daysOfYear" :key="k" :value="item">{{item}}</a-select-option>
                  </a-select>
                  <a-select class="rounded custom-select-boder" placeholder="เดือน" style="width: 120px">
                    <a-select-option v-for="(item, k) in month" :key="k" :value="item">{{ item }}</a-select-option>
                  </a-select>
                  <a-select class="rounded custom-select-boder" placeholder="ปี" style="width: 140px">
                    <a-select-option v-for="(item, k) in year" :key="k" :value="item">{{item}}</a-select-option>
                  </a-select>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label"
                  >คุณชอบชำระเงินแบบใด เมื่อซื้อสินค้าออนไลน์</label
                >
                <div>
                  <a-select class="w-100 custom-select-boder" placeholder="โปรดเลือก">
                    <a-select-option value="jack">ชำระเต็มจำนวน</a-select-option>
                    <a-select-option value="lucy">ชำระแบบผ่อน</a-select-option>
                  </a-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center pt-3">
          <div class="card" style="width: 540px">
            <div class="card-header" style="background-color: #f2f2f2">
              <h5>ผู้ขับขี่หลัก **</h5>
            </div>
            <div class="card-body">
              <div class="mb-3">
                <label class="form-label">วันเกิด</label>
                <div class="d-flex justify-content-between">
                  <a-select class="rounded custom-select-boder" placeholder="วันที่" style="width: 120px">
                    <a-select-option v-for="(item, k) in daysOfYear" :key="k" :value="item">{{item}}</a-select-option>
                  </a-select>
                  <a-select class="rounded custom-select-boder" placeholder="เดือน" style="width: 120px">
                    <a-select-option v-for="(item, k) in month" :key="k" :value="item">{{ item }}</a-select-option>
                  </a-select>
                  <a-select class="rounded custom-select-boder" placeholder="ปี" style="width: 140px">
                    <a-select-option v-for="(item, k) in year" :key="k" :value="item">{{item}}</a-select-option>
                  </a-select>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">เพศ</label>
                <div>
                  <a-radio-group
                    v-model:value="radioValue.sex"
                    class="d-flex d-grid gap-3 rounded custom-radio-contend"
                    size="large"
                  >
                    <a-radio-button
                      class="rounded button-bg-select"
                      style="width: 250px"
                      value="ชาย"
                      >ชาย</a-radio-button
                    >
                    <a-radio-button
                      class="rounded button-bg-select"
                      style="width: 250px"
                      value="หญิง"
                      >หญิง</a-radio-button
                    >
                  </a-radio-group>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">สถานภาพสมรส</label>
                <div>
                  <a-radio-group
                    v-model:value="radioValue.marital"
                    class="d-flex d-grid gap-3 rounded custom-radio-contend"
                    size="large"
                  >
                    <a-radio-button
                      class="rounded button-bg-select"
                      style="width: 250px"
                      value="โสด"
                      >โสด</a-radio-button
                    >
                    <a-radio-button
                      class="rounded button-bg-select"
                      style="width: 250px"
                      value="สมรส"
                      >สมรส</a-radio-button
                    >
                  </a-radio-group>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">จังหวัดที่อยู่ของผู้ขับขี่หลัก</label>
                <div>
                  <a-select class="w-100 custom-select-boder" placeholder="โปรดเลือก">
                    <a-select-option v-for="(item, k) in province_th" :key="k" :value="item">{{item}}</a-select-option>
                  </a-select>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">อาชีพ</label>
                <div>
                  <a-select class="w-100 custom-select-boder" placeholder="โปรดเลือก">
                    <a-select-option value="jack">เทคโนโลยี</a-select-option>
                    <a-select-option value="lucy">พนังงานออฟฟิศ</a-select-option>
                    <a-select-option value="Yiminghe">อื่น ๆ</a-select-option>
                  </a-select>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">อายุใบขับขี่รถยนต์ (ปี)</label>
                <div>
                  <a-radio-group
                    v-model:value="radioValue.driving"
                    class="d-flex justify-content-between rounded custom-radio-contend"
                    size="large"
                  >
                    <a-radio-button class="rounded button-bg-select" value="1">1</a-radio-button>
                    <a-radio-button class="rounded button-bg-select" value="2">2</a-radio-button>
                    <a-radio-button class="rounded button-bg-select" value="3">3</a-radio-button>
                    <a-radio-button class="rounded button-bg-select" value="4">4</a-radio-button>
                    <a-radio-button class="rounded button-bg-select" value="5">5</a-radio-button>
                    <a-radio-button class="rounded button-bg-select" value="5+"
                      >5+</a-radio-button
                    >
                  </a-radio-group>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3" ref="refFooter">
          <ContactCard />
        </div>
        <div class="d-flex justify-content-center">
          <div>
            <p class="mb-0 text-decoration-underline text-custom">หมายเหตุ</p>
            <p class="mb-0 text-custom">
              * ปัจจัยที่มีผลต่อการกำหนดเบี้ยประกันภัย
              ตามพิกัดอัตราเบี้ยประกันภัยรถยนต์
            </p>
            <p class="mb-0 text-custom">
              ** ปัจจัยที่มีผลต่อการพิจารณารับประกันภัยโดยบริษัทประกันภัย
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div :class="isFooter?'d-flex justify-content-start':'d-flex justify-content-start position-fixed'">
          <div class="card mt-5" style="width: 600px">
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <div class="d-flex align-items-center">
                    <CaretLeftOutlined class="mr-1" />
                    <p
                      v-if="isCheckCard === 'down'"
                      class="card-title text-danger mb-0"
                    >
                      สวัสดีค่ะ DirectAsia ยินดีต้อนรับ
                    </p>
                    <p
                      v-if="isCheckCard === 'Top'"
                      class="card-title text-danger mb-0"
                    >
                      ไม่รู้รุ่นรถ ปีผลิต หรือรุ่นย่อย ต้องทำอย่างไร?
                    </p>
                    <p
                      v-if="isCheckCard === 'CAMERA'"
                      class="card-title text-danger mb-0"
                    >
                      ทำไมถึงต้องระบุกล้องติดรถยนต์?
                    </p>
                    <p
                      v-if="isCheckCard === 'OBJECTIVE'"
                      class="card-title text-danger mb-0"
                    >
                      จุดประสงค์ของการใช้รถ ต่างกันอย่างไร?
                    </p>
                  </div>
                  <p class="card-text" v-if="isCheckCard === 'down'">
                    กรุณาใส่ข้อมูลให้ครบถ้วน
                    แล้วกดที่ปุ่มคำนวณเบี้ยเพื่อดำเนินการต่อ
                  </p>
                  <p class="card-text" v-if="isCheckCard === 'CAMERA'">
                    รับส่วนลดเบี้ยประกัน 5% สำหรับการซื้อประกันชั้น 1
                    เมื่อมีกล้องติดรถยนต์ โดยหลังจากชำระเงิน
                    ผู้เอาประกันภัยต้องส่งหลักฐานภาพถ่ายการติดตั้งระบบกล้องมาที่
                    customercare@directasia.com
                    และต้องติดตั้งระบบกล้องไว้ตลอดระยะเวลาเอาประกันภัย
                  </p>
                  <p class="card-text" v-if="isCheckCard === 'OBJECTIVE'">
                    <li>
                      ใช้ส่วนตัว เช่น ท่องเที่ยว ช้อปปิ้ง และธุระส่วนตัวอื่นๆ
                    </li>
                    <li>ไป-กลับออฟฟิศ เช่น ขับไปทำงานรวมถึงใช้ส่วนตัว</li>
                    <li>ใช้เพื่อทำงาน เช่น ออกไปหาลูกค้า</li>
                    <li>
                      ใช้เพื่อการพาณิชย์ เช่น ขับรถเร่ขายของ รับส่งผู้โดยสาร
                      หรือเพื่อประกอบอาชีพโดยตรง
                    </li>
                  </p>
                  <div class="card-text" v-if="isCheckCard === 'Top'">
                    คุณสามารถตรวจสอบได้จากเล่มทะเบียนและสมุดคู่มือรถของท่าน
                    หรือหากยังไม่มั่นใจ สามารถปรึกษาผู้เชี่ยวชาญได้ที่
                    <span style="color: red">02-767-7777</span>
                  </div>
                </div>
                <div class="col-4">
                  <img
                    src="https://secure.directasia.co.th/assets/image/da-suggest.png"
                    style="height: 200px; width: 220px"
                    class="img-display"
                    alt="suggest"
                  />
                </div>
              </div>
            </div>
            <div
              class="card-footer border-0 d-flex justify-content-end align-items-center"
              style="background-color: yellow; height: 74px; z-index: 999"
            >
              <a-button size="large" type="primary" class="rounded" danger
                >คำนวนดอกเบี้ย</a-button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.custom-radio-contend .ant-radio-button-wrapper:not(:first-child)::before {
  width: 0;
}
.custom-radio-contend .ant-radio-button-wrapper {
  border-left-width: 1px;
}
.text-custom {
  font-weight: 400;
  font-size: 16px;
  color: #6b6c6f;
}
.img-display {
  position: relative;
  top: 20px;
  right: 40px;
}

.button-bg-select.ant-radio-button-wrapper {
  background: yellow;
  border: yellow;
  border-bottom: 3px solid silver;
}
.button-bg-select.ant-radio-button-wrapper:hover{
  background: red;
  border: red;
  color: #ffffff;
  border-bottom: 3px solid silver;
}
.button-bg-select.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
  background: red;
  border: red;
  color: #ffffff;
  border-bottom: 3px solid silver;
}
.button-bg-select.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
  border-bottom: 3px solid silver;
  color: #ffffff;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
  /* border-bottom: 3px solid silver; */
  border-color:silver
}

.custom-select-boder.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
}

#box {
  height: 100vh;
  overflow: auto;
}
</style>
