<script setup lang="ts">
import Header from "../layout/Header.vue";
import HomeContend from "../layout/HomeContend.vue";
import Footer from "../layout/Footer.vue";
import { ref } from "vue";
const fixedCard = ref();
const fixedCardDown = ref();
const isCheckCard = ref("down");
const fixCamera = ref();
const fixObjective = ref();
const isFooter = ref(false);
const cardFooter = ref();
const changeCard = (data: number) => {
  fixedCard.value = data;
};

const changeFooter = (data: number) => {
  cardFooter.value = data;
};

const changeCardDown = (data: number, type: string) => {
  switch (type) {
    case "CAR_MODAL":
      fixedCardDown.value = data;
      break;
    case "CAMERA":
      fixCamera.value = data;
      break;
    case "OBJECTIVE":
      fixObjective.value = data;
      break;
    default:
      break;
  }
};

const handleScroll = (event: any) => {
  const target = event.target as HTMLDivElement;
  if (target.scrollTop > fixedCard.value) {
    isCheckCard.value = "Top";
  }
  if (
    target.scrollTop > fixedCardDown.value ||
    target.scrollTop < fixedCard.value
  ) {
    isCheckCard.value = "down";
  }
  if (target.scrollTop > fixCamera.value) {
    isCheckCard.value = "CAMERA";
  }
  if (target.scrollTop > fixObjective.value) {
    isCheckCard.value = "OBJECTIVE";
  }
  if (target.scrollTop > fixObjective.value + 50) {
    isCheckCard.value = "down";
  }

  if (target.scrollTop > cardFooter.value) {
    isFooter.value = true;
  } else {
    isFooter.value = false;
  }
};
</script>
<template>
  <div style="overflow-x: hidden" id="box" @scroll="handleScroll">
    <div>
      <Header />
    </div>
    <div>
      <HomeContend
        :isCheckCard="isCheckCard"
        @changeCard="changeCard"
        @changeCardDown="changeCardDown"
        :isFooter="isFooter"
        @changeFooter="changeFooter"
      />
    </div>
    <div>
      <Footer />
    </div>
    <div class="post-footer">
      <h1 class="text-center text-white">post-footer</h1>
    </div>
  </div>
</template>
<style>
.post-footer {
  background-color: #0d0d0d;
  padding: 25px 0;
  color: #fff;
}
</style>
