<template>
  <div>
    <div class="d-flex justify-content-center pt-3">
          <div class="card" style="width: 540px">
            <div class="card-header" style="background-color: #f2f2f2">
              <h5>วันที่เริ่มความคุ้มครอง</h5>
            </div>
            <div class="card-body">
              <div class="mb-3">
                <label class="form-label">ชื่อ</label>
                <div>
                  <a-input placeholder="กรุณาใส่ข้อมูล" class="rounded" />
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">เบอร์มือถือ</label>
                <div>
                  <a-input placeholder="กรุณาใส่ข้อมูล" class="rounded" />
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">อีเมล</label>
                <div>
                  <a-input placeholder="กรุณาใส่ข้อมูล" class="rounded" />
                </div>
              </div>
              <div>
                <a-checkbox>ท่านได้อ่าน เข้าใจ และให้ความยินยอม สำหรับการเก็บรวบรวม จัดเก็บ ใช้ เก็บรักษา ประมวลผล เปิดเผย และโอนข้อมูลส่วนบุคคลของท่าน เพื่อวัตถุประสงค์ตามที่ระบุไว้ใน 
                  <span style="color: red;">ถ้อยแถลงเกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคล</span></a-checkbox>
              </div>
            </div>
          </div>
        </div>
  </div>
</template>